@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared satyle */

* {
  font-family: "Work Sans", sans-serif;
}

.btn_primary {
  background-color: #ff900e;
  outline: none;
  color: aliceblue;
  font-size: 1.2rem;

  border: #f38405;
  border-radius: 8px;
  padding: 20px 25px;
  cursor: pointer;
}

/* header style */
header {
  background-color: #ff8f0e1f;
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_title {
  font-size: 1.3rem;
}
nav > ul {
  display: flex;
}
li a {
  text-decoration: none;
  color: black;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 0.9rem;
}
/* banner sector */
.banner_content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner_discription {
  font-size: small;
  color: rgba(63, 60, 60, 0.795);
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main section */
main {
  max-width: 1440px;
  margin: 70px auto;
}
.teams_container {
  display: flex;
  align-items: center;
}
.teams_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team_content {
  padding: 0 70px;
}
.teams_title {
  font-size: 2.5rem;
}
.quick_list {
  color: #727272;
  font-weight: 500;
}
.features {
  color: #ff900e;
  font-weight: 700;
}
.teams_description {
  font-size: small;
  color: #131313b2;
}

/* responsive */
/* mobile devises */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams_container {
    flex-direction: column;
  }
  .teams_img_container {
    grid-template-columns: 1fr;
  }
  .team_content {
    padding: 0 20px;
  }
}

/* tablet or mudiam devises */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .teams_container {
    flex-direction: column;
  }
  header {
    padding: 50px;
  }
}
